html, body {
  height: 100%;
  background-color: #a132fc;
}
h2 {font-size: 160%;}
.titel{font-size: 300%;}
div{font-family: 'Courier New', Courier, monospace;}
.software{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.titel{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.kop1{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.kop2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
