html, body {
  height: 100%;
  background-color: #a132fc;
}
h2 {font-size: 160%;}
.titel{font-size: 300%;}
div{font-family: 'Courier New', Courier, monospace;}
.software{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}